header
{
	color: #794994;
	border:dotted thick #752392;
		background-color:#000000;
	padding: 0 20px 0 20px;
	margin:15px;
	
}
p
{
	color : #454382;
	
}
aside
{
	color : #794994;
	background-color:#000000;
	width:700px;
	float: left;
	padding: 0 20px 0 20px;
	margin:15px;
	
}
body
{
	background-image: url(Images/Purple.gif)
	
}
nav
{
	line-height: 200%;
	background-color: black;
	width:1000px;
	padding-right:30px;
	border:dashed thick #662382;
	margin:15px;
}
nav li 
{
	
	color: #7692C5;
	display: inline;
	padding: 30px;
	
	
}


img
{
	float:right;
	margin-right: 45px;
	margin-top: 300px;

	
}
